#viewArtefactPage {
    font-family: Montserrat;
}

#artefactName {
    text-align: center;
    margin: 0 auto;
    font-size: 7vw;
    font-family: Montserrat;
    font-weight: 600 !important;
}

.descriptionTitle {
    margin: 0 auto;
    font-size: 2vw;
    font-family: Montserrat;
    font-weight: 600 !important;
}
.memberHeadings{
    margin: 0 auto;
    font-size: 5vw;
    text-align: center;
    font-family: Montserrat;
    font-weight: 600 !important;
}

#adminArtefactModal{
    align-self: inherit;
}