#parallaxTry {
    /* The image used */
    background-image: url("../../assets/bg2.jpg");

    /* Set a specific height */
    min-height: 100vw;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    align-items: center;
}

#title-landing {
    text-align: center;
    margin: 0 auto;
    font-size: 10vw;
    color: white;
    font-family: Montserrat;
    font-weight: 600 !important;
}

#subtitle-landing {
    text-align: center;
    margin: 0 auto;
    font-size: 5vw;
    color: white;
    font-family: Montserrat;
}

#about-card {
    text-align: center;
    margin: 0 auto;
    font-size: 3vw;
    font-family: Montserrat;
    color: white;
    font-weight: 600 !important;
}