button[variant="primary"]{
    background-color: #ffe960 !important;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.75vw;
    border-radius: 7px;
    border: 2px solid #ffe960;
}

button[variant="secondary"]{
    background-color: #f9bdbf !important;
    color: black;
    border-color: #f9bdbf;
    border: #f9bdbf;
    font-family: 'Montserrat', sans-serif;
}

button:disabled{
    background-color: #ffffff !important;
    border-radius: 7px;
    border: 2px solid #ffe960;
}
