#account-heading{
    text-align: center;
    margin: 0 auto;
    font-size: 4vw;
    font-family: Montserrat;
    font-weight: 600 !important;
    margin-bottom: 32px;
}

#profileName{
    text-align: center;
    margin: 0 auto;
    font-size: 3vw;
    font-family: Montserrat;
    font-weight: 500;
}

#profileContainer{
    width: 100%;
}

#profileChange{
    margin-top: 66px;
    padding-left: 66px;
    padding-right: 66px;
}

#topWraper{
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: column;
    height: 1400px;
    padding-top: 66px;
    max-width: 100% !important;
}

#artifactWrapper{
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: column;
    height: 880px;
    padding-top: 128px;
    flex: 1;
    align-items: center;
}

#familyPaper{
    margin-left: 66px;
    margin-right: 66px;
    margin-bottom: 66px;
}

#familiesWrapper{
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: column;
    height: 680px;
    padding-top: 128px;
    flex: 1;
}

#artifactContainer{
    width: 100%;
    height: auto;
    display: -webkit-flex; /* Safari */
    display: flex;
    flex: 8;
    overflow: visible;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.slick-prev{
    left: -180px;
    z-index: 12;
}

.nextButton{
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 0, 0.393);
    font-size: 2vw;
    border-radius: 50px;
    border: 2px solid yellow;
    color: white;
    font-weight: 800;

}

#artifactItems{
    width: 87%;
    height: auto;
}

.oneArtifactItem{
    width: 100%;
    height: 100%;
    background-color: yellow;
}


#familiesContainer{
    width: 100%;
    height: 360px;
    background-color: purple;
    overflow: scroll;
    display: -webkit-flex; /* Safari */
    display: flex;
    flex: 6;
    align-items: center;
}

#familyItems{
    width: auto;
    height: 360px;
    background-color: purple;
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: row;
    align-items: center;
}

#topContainer{
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    padding: 66px;
}

#profileContainer{
    padding-left: 66px;
    padding-right: 66px;
}

#paperStyle{
    padding: 66px;
}


#userInformation{
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
}


div.artifactOwned{
    height: 100%;
    margin-right: 50px;
    padding: 32px;

}

div.familyOwned{
    width: 400px;
    height: 400px;
    background-color: goldenrod;
    margin-left: 50px;
    border-radius: 90%;
    font-size: 2vw;
    font-family: Montserrat;
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: center;
    align-items: center;
}

button.aButton{
    margin-top: 20px;
    background-color: white;
    font-family: Montserrat;
    border: 2px solid rgba(250, 243, 30, 0.845);
}

button.aButton:focus{
    color: white;
    background-color: rgba(250, 243, 30, 0.845);
}

input.testInput{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#chooseFile{
    border-radius: 40px;
    border: 2px solid yellow;
    margin-top: 45px;
    background-color: white;
    padding-left: 50px;
    padding-right: 12px;
    font-size: 2vw;
    font-family: Montserrat;
}


@media only screen and (max-width: 6000px) {
    #avatarBox{
        background-color: cyan;
        height: 256px;
        width: 256px;
        border-radius: 50%;
    }
    .aButton{
        //border-radius: 90px;
        height: 80px;
    }
}

@media only screen and (max-width: 1000px) {
    #avatarBox{
        background-color: cyan;
        height: 128px;
        width: 128px;
        border-radius: 50%;
    }
    .aButton{
        //border-radius: 30px;
        height: 60px;
    }
}

@media only screen and (max-width: 500px) {
    #avatarBox{
        background-color: cyan;
        height: 64px;
        width: 64px;
        border-radius: 50%
    }
    #changeAvatarButton{
        border-radius: 20px;
        height: 40px;
    }
}

#avatarContainer{
    display: -webkit-flex; /* Safari */
    display: flex;
    flex: 2;
    width: auto;
    background-color: orange;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#profileInformationContainer{
    flex: 3;
    width: auto;
    padding-left: 64px;
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#changePasswordButton{
    max-width: 512px;
}

#passwordField{
    margin-left: 32px;
}
