.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}
.textboxContainer{
    display: flex;
    justify-content: center;
    flex-wrap: space-around;
}
.textbox{
    width: 300px;
    margin: 40px;
}
#homeHeading{
    text-align: center;
      margin: 0 auto;
      font-size: 7vw;
      font-family: Montserrat;
      font-weight: 600 !important;
}
#homeInformation,#noFamilyMessage{
    text-align: center;
    margin: 0 auto;
    font-size: 2vw;
    font-family: Montserrat;
}



button.searchButton{
    margin-top: 20px;
    background-color: white;
    font-family: Montserrat;
    border: 2px solid rgba(250, 243, 30, 0.845);
}

button.search:focus{
    color: white;
    background-color: rgba(250, 243, 30, 0.845);
}
