#signOut {
    border-color: #ffe960;
    background-color: #ffe960;
    color: black;
    font-family: Montserrat !important;
}

#signOut:hover{
    border-color: #ffe960;
    background-color: white;
    font-family: Montserrat !important;
    text-emphasis-color: #212529;
}