#sliderCard{
    border: none;
    margin: 0 auto;
    display: flex !important;
    justify-content: center;
    flex-direction: column;
}
.memberAvatar{
    align-self: center;
    justify-self: center;
}
#memberName{
    text-align: center;
    font-size: 3vw;
}

#customSlider{
    align-self: center;
    overflow: hidden;
}
#sliderGrid{
    padding-bottom: 7vw;
}
.slick-arrow.slick-prev{
    display: contents !important;
}

.slick-prev:before,
.slick-prev:after,
.slick-next:before,
.slick-next:after {
  color: #ffe960;
  size: 100;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index:1
}
