#sliderCard{
    border: none;
    display: flex !important;
    justify-content: center;
    flex-direction: column;
}
#memberAvatar{
    align-self: center;
}
#memberName{
    text-align: center;
}

#customSlider{
    align-self: center;
}

.slick-prev:before,
.slick-next:before {
  color: #ffe960;
  size: 100;
}